html {
   height: 100%;
   font-family: 'Courier New', Courier, monospace;
   -webkit-animation: SSS 2.43s ease alternate infinite;
   animation: SSS 2.43s ease alternate infinite;
  }

@keyframes SSS {
   0% {background-image: linear-gradient();}
   20% {background-image: linear-gradient();}
   40% {background-image: linear-gradient();}
   60% {background-image: linear-gradient();}
   80% {background-image: linear-gradient();}
   100% {background-image: linear-gradient();}
   }